.c{
  background-color: SeaGreen;
  height: 502px;
  margin-top: 0;
  overflow: hidden;
}
.c1{
    background-color: Teal;
  border-radius: 5%;
  display: block;
  margin-top: 11%;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  padding: 2% 2% 2% 0;
  border-color: #669999;
  border-style: solid;
  border-width: 20px;
}
.c2
{
  margin-left: 46%;

}

.c4
{
  margin-right:500px;
  margin-top: 7%;
    background-color:SlateGray;
      color: white;
        border-radius: 5%;
        margin-bottom: 7%;
            height: 40px;
            font-size: 25px;

}
.t
{
  height: 80px;
  background-color: black;
}
.t1
{
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: serif;
  padding-top:1.4%;
}
.t2
{
  color: white;
  font-size: 1.5rem;
  font-family: serif;
  padding-top:1.2%;
margin-left: 5%;
margin-right: 28%;
}
.t3
{
  color: white;
  font-size: 1.5rem;
  font-family: serif;
  padding-top:1.2%;


}
.t4
{
  height: 80px;
  background-color: black;


}
.s1
{
  background-color: #334d4d;
  overflow: hidden;
}
.s2
{
  color: white;
  margin-top: 30px;
border:2px solid white;
 border-spacing: 5px;
 width: 80%;
 margin-left: 10%;
 margin-right: 10%;

}
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
button{
  width: 100px;
  height: 50px;
}
.s3
{
  margin-top: 18px;
  padding-left: 70px;
  margin-left: 220px;
  height: 40px;
  font-size: 22px;
}
.s4
{    margin-top: 180px;
  padding-left: 100px;
    height: 40px;
      font-size: 22px;
}
.s5
{
  margin-top: 160px;
  margin-left: 180px;
  font-size: 30px;
  margin-right: 7px;
  color: black;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
